* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #f2f2f2;
    user-select: none;
}

.container {
    width: 400px;
    margin: auto;
    padding: 0;
    margin-top: 8%;
    text-align: center;
    font-size: 20px;
    cursor: default;
}

.btn {
    width: 75%;
    font-size: 20px;
    margin-top: 25px;
    background-color: goldenrod;
}

#optionsBtn {
    background-color: white;
}

.button:focus {
    outline: none;
}

#loot {
    background-color: goldenrod;
    color: white;
    border: 1px solid #9b7617;
}

#loot:hover {
    background-color: #c8981e;
    color: white;
}

#loot:active {
    background-color: goldenrod;
}

#options {
    background-color: grey;
    color: white;
    border: 1px solid #595959;
}

#options:hover {
    background-color: #737373;
    color: white;
}

#options:active {
    background-color: grey;
}

.textfield {
    display: none;
    margin-top: 25px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    cursor: pointer;
    width: 90%;
}

/* The container */

.checkBox {
    margin: auto;
    display: inline-block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */

.checkBox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom radio button */

.checkBoxmark {
    position: absolute;
    top: 3px;
    left: -50px;
    height: 25px;
    width: 25px;
    background-color: #ccc;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */

.checkBox:hover input~.checkBoxmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */

.checkBox input:checked~.checkBoxmark {
    background-color: goldenrod;
}

/* Create the indicator (the dot/circle - hidden when not checked) */

.checkBoxmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */

.checkBox input:checked~.checkBoxmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */

.checkBox .checkBoxmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.crBox label {
    font-size: 15px;
    display: inline-block;
    width: 75px;
    padding: 5px;
    border: solid 2px #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    color: #aaa;
}

.crBox input[type="radio"] {
    display: none;
}

.crBox input[type="radio"]:checked+label {
    border: solid 2px goldenrod;
    color: black;
}

.tagBox label {
    font-size: 15px;
    display: inline-block;
    width: 150px;
    padding: 5px;
    border: solid 2px #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    color: #aaa;
}

.tagBox input[type="checkbox"] {
    display: none;
}

.tagBox input[type="checkbox"]:checked+label {
    border: solid 2px goldenrod;
    color: black;
}

.exchange {
    font-size: 25px;
    font-weight: bolder;
}

fieldset.scheduler-border {
    border: solid 1px #ccc !important;
    border-bottom: none;
    border-radius: 5px;
    width: fit-content;
    padding-bottom: 15px;
    padding-top: 5px;
}

legend.scheduler-border {
    width: 25% !important;
    border: none;
    font-size: 20px;
    text-align: center !important;
}

.btn-warning {
    border-radius: 5px !important;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    height: 1.8rem;
    width: 25%;
    opacity: 1;
    border: solid;
    cursor: pointer;
}

.number-input {
    position: absolute;
    display: inline-flex;
    margin-left: 20px;
}

.number-input, .number-input * {
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
}

.number-input input[type=number] {
    max-width: 4rem;
    border: solid #ccc;
    border-width: 2px;
    font-size: 15px;
    height: 2rem;
    text-align: center;
    vertical-align: middle;
    background-color: white;
}

.number-input input[type=number]:disabled {
    color: #ccc;
}