@import url(https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap);

body, html {
    height: 100%;
    margin: 0;
    font-family: "Chakra Petch", sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-content: center;
    justify-items: center;
    user-select: none;

}

body {
    background-color: #111;
}

img {
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mainContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 900px;
    height: 900px;
}

.mainContainer::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: .9;
    background-image: url('img/mainContainerBG.webp');
    background-position: center;
    background-size: cover;
    border: 5px #ffde21;
    border-style: double;
    border-radius: 5rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#cookieBtn {
    aspect-ratio: 1 / 1;
    /* makes it square */
}

.mainbtnContainer {
    grid-template-columns: 0.5fr 2.5fr 3fr;
    /* proportional widths */
    column-gap: 20px;
    display: grid;
    max-width: min(90%, 700px);
    width: 100%;
    margin-top: 30px;
}

.switchMenu {
    row-gap: 10px;
    column-gap: 10px;
    max-width: min(90%, 700px);
    width: 100%;
    margin: 30px 0px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.buttonMain {
    --color: #ffde21;
    --gradient-color: rgba(253, 232, 2, .25);
    padding: .75rem;
    border: 5px solid var(--color);
    background: repeating-linear-gradient(45deg, var(--gradient-color), var(--gradient-color) 4px, transparent 4px, transparent .75rem);
    color: var(--color);
    font-size: 1.35rem;
    font-weight: bolder;
    text-align: center;
}

.buttonMain:hover {
    background-color: #ffde21;
    color: #111;
    cursor: pointer;
}

.buttonMain:hover:active {
    transform: scale(0.98);
}

.buttonMain.active {
    background-color: #ffde21;
    color: #111;
    outline: 1px solid #ffde21;
    outline-offset: 3px;
}

.resultBlock, .configBlock {
    border-bottom: 3px solid #ffde21;
    padding: 20px;
    text-align: center;
    flex-direction: column;
    background-color: #111;
    color: #fff;
    display: flex;
    align-items: center;
}

#resultsContainer {
    grid-auto-rows: minmax(0, 1fr);
    height: 100%;
}

.configBlock.active {
    background-color: #ffde21;
    color: #111;
}

.resultBlock {
    cursor: pointer;
}

.resultBlock:not(:has(#stratagemBox:hover)):hover {
    background-color: #ffde21;
    color: #111;
}

.resultBlock:not(:has(.stratagem-ico img:hover)):hover:active {
    transform: scale(0.98);
}

#armouryResult, #armouryConfig {
    grid-area: 1 / 1 / 2 / 4;
}

#primaryResult, #primaryConfig {
    grid-area: 2 / 1 / 3 / 2;
}

#sidearmResult, #sidearmConfig {
    grid-area: 2 / 2 / 3 / 3;
}

#throwedResult, #throwedConfig {
    grid-area: 2 / 3 / 3 / 4;
}

#stratagemResult, #stratagemConfig {
    grid-area: 3 / 1 / 4 / 3;
}

#boosterResult, #boosterConfig {
    grid-area: 3 / 3 / 4 / 4;
}

#missionConfig {
    grid-area: 4 / 1 / 5 / 2;
}

#warbondConfig {
    grid-area: 4 / 2 / 5 / 4;
}

.block-icon {
    font-size: 25px;
}

.blockText {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.stratagemConfig {
    display: flex;
    color: #fff;
    background-color: #111;
    border-bottom: 3px solid #ffde21;
    margin: 30px 0px;
}

#offenseBlock, #offenseMission {
    grid-area: 2 / 1 / 3 / 2;
}

#supportBlock, #supportMission {
    grid-area: 2 / 2 / 3 / 3;
}

#defenseBlock, #defenseMission {
    grid-area: 2 / 3 / 3 / 4;
}

.stratagems-row {
    display: flex;
    flex-wrap: wrap;
}

.stratagem-btn {
    width: 50px;
    margin: 2px;
}

.stratagem-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.stratagem-btn.unselected {
    filter: brightness(50%);
    opacity: 0.5;
    /*border: 2px solid #1e1e1e*/
}

.stratagem-btn.selected {
    filter: brightness(100%);
    /*border: 2px solid white*/
}

#stratagemDiv, #stratagemBox, #armouryDiv {
    display: flex;
    justify-content: space-evenly;
}

#armouryDiv {
    width: 50%;
}

#stratagemDiv, #stratagemBox {
    width: 100%;
}

#stratagemBox {
    margin-top: 20px;
}

.stratagem-ico img {
    width: 5rem;
    height: 5rem;
    box-sizing: border-box;
    border: 5px solid #4e4e4e;
    padding: 5px;
    background: #111;
}

.mission-ico, .mission-ico img {
    height: 100%;
}

.stratagem-ico img:hover {
    border-color: #ffde21;
}

.stratagem-ico img:active {
    transform: scale(0.98);
}

.booster-ico img {
    display: flex;
    width: 5rem;
    height: 5rem;
    aspect-ratio: 1 / 1;
    margin-top: 20px;
}

.equipment-ico img {
    height: 6rem;
    margin-top: 20px;
}

.selectBlock {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

/* Modal Content */

.modal-content {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 900px;
    height: 900px;
    margin-left: -450px;
    margin-top: -450px;
    display: flex;
    place-content: center;
    column-gap: 10px;
    z-index: -2;
}

.modal-content::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: .9;
    background-image: url('img/mainContainerBG.webp');
    background-position: center;
    background-size: cover;
    border: 5px #ffde21;
    border-style: double;
    border-radius: 5rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

/* The Close Button */
.close {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    z-index: -1;
}

/* General styles for all equipment groups */
.equipment-group {
    overflow-y: auto;
    padding: 0 25px 20px;
    text-align: center;
    flex-direction: column;
    color: #fff;
}

.modal-group {
    display: grid;
    color: #fff;
    text-align: center;
    background-color: #111;
    margin: 10px 0 0;
    place-content: baseline;
    min-width: 50%;
    justify-content: center;
}

.configTitle {
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-align: center;
    flex-direction: column;
    color: #fff;
}

.stratPermit {
    font-size: 1rem;
}

.equipment-row {
    display: flex;
    flex-wrap: wrap;
}

.equipment-btn {
    height: 6rem;
    margin: 6px;
}

.equipment-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.equipment-btn.unselected {
    filter: brightness(50%);
    opacity: 0.5;
    /*border: 2px solid #1e1e1e*/
}

.equipment-btn.selected {
    filter: brightness(100%);
    /*border: 2px solid white*/
}

/* width */
::-webkit-scrollbar {
    display: none;
}

.civtoolToggle {
    width: 40px;
    height: 60px;
    border: 5px solid #4e4e4e;
    position: relative;
    background: #111;
    cursor: pointer;
    transition: all 0.2s ease;
}

.civtoolToggle.on {
    border-color: #ffde21;
}

.slider {
    position: absolute;
    width: 100%;
    height: 33.33%;
    border: 2.5px solid #111;
    box-sizing: border-box;
    transition: all 0.2s ease;
}

.civtoolToggle.off .slider {
    background: #4e4e4e;
    transform: translateY(200%);

}

.civtoolToggle.on .slider {
    background: #ffde21;
    transform: translateY(0%);

}

#civtoolConfig {
    display: flex;
    justify-content: center;
}

.placeholder {
    display: flex;
    height: 100%;
}

.placeholder i {
    display: flex;
    font-size: xxx-large;
    align-items: center;
}